.tracking-in-expand {
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.tracking-in-contract-bck {
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.tracking-out-contract-bck-top {
    animation: tracking-out-contract-bck-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation-fill-mode: backwards;
}

@keyframes tracking-out-contract-bck-top {
    0% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        letter-spacing: -0.5em;
        transform: translateZ(500px) translateY(100px);
        opacity: 0;
    }
}

.focus-in-expand-fwd {
    animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-800px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        transform: translateZ(0);
        filter: blur(0);
        opacity: 1;
    }
}

.text-shadow-pop-tr {
    animation: text-shadow-pop-tr 0.6s both;
}

@keyframes text-shadow-pop-tr {
    0% {
        text-shadow: 0 0 #888555, 0 0 #888555, 0 0 #888555, 0 0 #888555, 0 0 #888555, 0 0 #888555, 0 0 #888555, 0 0 #888555;
        transform: translateX(0) translateY(0);
    }

    100% {
        text-shadow: 1px -1px #888555, 2px -2px #888555, 3px -3px #888555, 4px -4px #888555, 5px -5px #888555, 6px -6px #888555, 7px -7px #888555, 8px -8px #888555;
        transform: translateX(-8px) translateY(8px);
    }
}

.text-pop-up-top {
    animation: text-pop-up-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes text-pop-up-top {
    0% {
        transform: translateY(0) translateX(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        transform: translateY(-50px) translateX(50px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #888, 0 2px 0 #888, 0 3px 0 #888, 0 4px 0 #888, 0 5px 0 #888, 0 6px 0 #888, 0 7px 0 #888, 0 8px 0 #888, 0 35px 16px #888, 0 50px 30px rgba(0, 0, 0, 0.9);
    }
}

.scale-out-vertical {
    animation: scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation-fill-mode: backwards;
}

@keyframes scale-out-vertical {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        transform: scaleY(0);
        opacity: 1;
    }
}

.rotate-out-center {
    animation: rotate-out-center 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation-fill-mode: backwards;
}

@keyframes rotate-out-center {
    0% {
        transform: rotate(0);
        opacity: 1;
    }

    100% {
        transform: rotate(-360deg);
        opacity: 0;
    }
}